a {
    text-decoration: none;
    color: #000;
}

/*페이지*/
.wrap {
    background-color: #fff3e0;
    max-width: 1200px;
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    background-color: #ccc0ae;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
}

.h1-logo img {
    width: 50px;
}

.a-mypage {
    margin-right: 10px;
}

.a-mypage::before {
    content: "/";
    position: relative;
    left: 92px;

}

.box-h2 {
    margin-top: 20px;
    text-align: center;
}

.box-h2 h2 {
    font-size: 24px;
}

.wrap-post {
    margin: 40px auto 0;
    max-width: 400px;
    width: 95%;
    clear: both;
}

.content-post {
    margin: 40px auto 0;
    max-width: 400px;
    width: 95%;
    clear: both;
}

.box-btn-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
}

.box-btn-all > button{
    margin-right: 10px;
    margin-left: 10px;
}

.box-btn-posting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.box-btn-posting > button {
    margin-right: 10px;
}