<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>mypage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/mypage.css">

</head>
<body>
    <div class="top">
        <h1 class="h1-logo">
            <a href="/main" title="카페인 홈으로 이동"><img src="/static/images/mug-hot-solid.svg" alt="카페인 로고"></a>
        </h1>
        <div class="username">
            <h1>{{nick}}</h1>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
            <div class="menu-label">mypage</div>
            <div class="menu">
                <button class="button is-mobile is-desktop" onclick="location.href='/mypage'">좋아요 내역</a>
                <button class="button is-mobile is-desktop" onclick="location.href='/withdraw'">회원탈퇴</h1>
            </div>
        </div>
        <div class="right">
            <div class="right-back">
                <section class="section-list">
                    <article class="article-item">
                        <ul id="box-ul-list">

                        </ul>
                    </article>
                </section>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/static/js/mypage.js"></script>
</body>
</html>